<div class="contact">
    <hr class="footer-hr">
    <a href="#top">Back to top</a>
    <h1>Contact</h1>
    <form action="{{ url_for('handle_contact') }}" method="POST">
        <label for="id">Name/organization:</label><br>
        <input type="text" name="id" maxlength="60" required><br>
        <label for="contact">Contact email:</label><br>
        <input type="email" name="contact" maxlength="255" required><br>
        <label for="message">Your message:</label><br>
        <textarea name="message" rows="5" cols="50" maxlength="255" required></textarea><br>
        <input type="submit" value="Send">
    </form>
</div>
